{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid porfolio">
	<h3>Porfolio</h3>
	<div class="row tag-row">
		{{#each tags}}
			<div class="tag-group">
				<p>{{@key}}: </p>
				{{#each this}}
				<button id="{{key}}" class="tag btn btn-default" type="button" data-filter-value="{{key}}">
					<div class="button-text">{{name}} <span class="{{key}}-number filter-counter"> </span></div>
				</button>
				{{/each}}
			</div>
		{{/each}}
		<button class="tag clear-all btn btn-default" type="button" data-filter-value="">Clear</button>
	</div>	

	<div class="row" id="project-grid">
		{{#each projects}}	
		{{> projectBox project=this}}
		{{/each}}
	</div>

</div> <!-- .container-fluid -->