{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid project-page">
	<h3>{{name}}</h3>
	{{{intro.html}}}
	<div class="row tag-row">
		{{#each tags}}
			<button id="{{key}}" class="tag btn btn-default" type="button" data-filter-value="{{key}}">
				<div class="button-text">{{name}} <span class="{{key}}-number filter-counter"> </span></div>
			</button>
		{{/each}}
		<button class="tag clear-all btn btn-default" type="button" data-filter-value="">Reset</button>
	</div>	

	<div class="row" id="project-grid">
		{{{body.html}}}
	</div>

</div> <!-- .container-fluid -->