{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid project-page">
	<h2>{{project.name}}</h2>
	{{{project.intro.html}}}
	<div class="row tag-row">
		{{#each tags}}
			<div class="tag no-link">{{name}}</div>
		{{/each}}
	</div>	

	<div class="row description">
		{{{project.body.html}}}
	</div>

	<a href="{{project.url}}">Project Link</a>

</div> <!-- .container-fluid -->