<div class="row projectPage">
	<div class="project-info">
		<div class="pull-left image-wrap">
			<img src="{{{cloudinaryUrl project.icon}}}" alt="{{project.name}}">
		</div>

		<div class="col-sm-12 col-md-6 col-lg-6 pull-left project-text">
			<h2>{{project.name}}</h2>
			{{{project.intro.html}}}
			<div class="row tag-row">
				{{#each tags}}
					<div class="tag no-link">{{name}}</div>
				{{/each}}
			</div>

			<div class="row description">
				{{{project.body.html}}}
			</div>
			<a href="{{project.url}}">Project Link</a>

			<div class="row tag-row">
				{{#each tags}}
					<div class="tag no-link">{{name}}</div>
				{{/each}}
			</div>	

		</div>
	</div>

	{{#if @last}}{{else}}<div class="break"><hr></div>{{/if}}
</div>
